
.navbar {
    overflow: hidden;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
 select{
    height: 100;
    width: 100;
  }
.heading{
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-bottom:20px;
    margin-top: 5px;
    width: 97%;
    letter-spacing : 1.2px;   

}
  /* Style the links inside the navigation bar */
  .navbar button {
    height:3rem;
  padding:0 2rem;
  border-radius: 1.5rem;
  background: linear-gradient(-45deg, #635edb, #338aff, #7e25ea);
  background-size:500%;
  background-position:90% 0;
  color : #ffffff;
  transition: background 0.8s;
  cursor: pointer;
  margin-right: 5px;
  margin:15px;
  border: 1px;
    text-align: center;
    text-decoration: none;
    font-size: 17px;

  }
  .rate-control{
    position : relative;
    margin : 25px;
    padding : 5px;
  }
.btn-content{
    font-size:14px
}

  /* Change the color of links on hover */
  .navbar button:hover {
    background-position: 185% 50%;
  }


  
  /* Add a color to the active/current link */
  .navbar button.active {
    background-color: #73addf;
  }


.sum-page
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.main {
    width: 90%;
    display: inline;
  }
  
.main > textarea {
    display: flex;
    width: inherit;
    /* height: 600px; */
}

.content
{
    display: flex;
}
.speech-controller
{
    display: flex;
    /* flex-direction: column; */
}


textarea
{
    overflow: auto;
    height : 400px;
}


.data-block
{
    display: flex;
}
body{
    font-family: 'helvatica', sans-serif;
}

.container{
    margin-top:4%;
    margin-left: 120px;
    padding:3px;
    width:420px;
    border:2px solid #555555;
    opacity:1;
    -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.03);
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.03);
    box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.03);

}


textarea{
    margin:6px;
    border:none;
    outline:none;
    resize:none;
    width: 24rem;
    height: 50rem;
    font-family: 'Heebo', sans-serif;
    font-weight: 500;
    text-align: justify; 
    padding:2px;
    font-size:16px;
    line-height: 1.4;
    overflow-x: hidden;
    padding:1rem;
    margin: 1 em;
    border:1px solid black;
    border-radius: 20px;
    
}

.labels{
    font-weight: 600;
    font-size: 20px;
    color: #6b6b6b;
    
    /* padding-left : 300px;*/
} 


.textarea_styles{
    margin:10px;
    width:400px;
    height:800px;
    border:2px solid #229CFF;
    border-radius:2px;
    font-size:16px;

}

.textarea_styles:hover{
    
    -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.03);
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.03);
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.03);
    border: 1px solid #229CFF;
}

.textarea_styles:focus{
    
    -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.03);
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.03);
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.03);
    border: 1px solid #229CFF;
}

textarea::-web-kit-scrollbar{
    width:3px; 
}

textarea::-web-kit-scrollbar-track{
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.03);
    -webkit-box-shadow: inset 0 0 10px #BDDAE0;
}
textarea::-web-kit-scrollbar-thumb{
    background-color: #0B8FF9; 
}

button{
    
    margin :5px;
}

.btn{
    /* position: relative;
    overflow: hidden;
    height: 3rem;
    padding: 0 1rem;
    border-radius: 1rem;
    background: #7255c7;
    background-size: 400%;
    color: #FFFFFF; */
    font-family: "Roboto", sans-serif;
    font-size : 18px;
    /* font-weight : bold; */
    background : #1E90FF;
    width :auto;
    padding : 8px;
    text-align : center;
    text-decoration: none;
    /* text-transform: uppercase; */
    color : #fff;
    border-radius: 5px;
    cursor : pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0,0.1);

}

.btn:hover{
    background-color : #0869cb;
}

.btn-content{
    position: relative;
    z-index: 1;
}

.btn::before{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin:0 50%;
    width: 100%;
    height: inherit;
    border-radius:inherit;
    background : linear-gradient(
        82.2deg, rgb(109, 53, 194) 10.8%, rgb(56, 44, 222) 94.3%
    );
    transition: all 0.475s;


}


@media all and (max-width : 700px)
{
    .btn
    {
        background: #242F9B;
        border: 1px solid #646FD4;
        color:#9BA3EB;
        font-size:larger;
    }


    .content
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }


    .speed-btn-trans
    {
        display: flex;
        align-items: center;
        
        
    }


    textarea
    {
        overflow-x: hidden;
        /* height : 800px; */
    }
}


select{
    font-family:  "lato";
    font-size : 18px;
    font-weight : bold;
    background : #cccdce;
    width :auto;
    padding : 8px;
    
    text-align : center;
    text-decoration: none;
    /* text-transform: uppercase; */
    color : rgb(38, 36, 36);
    border-radius: 5px;
    cursor : pointer;

}
.trans{
    font-size: 18px;
    font-family: "Helvetica Neue", Helvetica, Arial;
    
}

.btn-dload{
    font-family: "Roboto", sans-serif;
    font-size : 18px;
    /* font-weight : bold; */
    background : #04ab4a;
    width :auto;
    padding : 8px;
    text-align : center;
    text-decoration: none;
    /* text-transform: uppercase; */
    color : #fff;
    border-radius: 5px;
    cursor : pointer;
    /* box-shadow: 0 0 10px rgba(0, 0, 0,0.1); */
}

.btn-dload:hover {
    background-color : #047433;
}
.tt{
    background : #cccdce;
}

.whatsapp{
    background : #02ce3f;
    padding : 8px;
}

.back{
    font-family: "Roboto", sans-serif;
    font-size : 18px;
    /* font-weight : bold; */
    background : #04ab4a;
    width :auto;
    padding : 8px;
    text-align : center;
    text-decoration: none;
    /* text-transform: uppercase; */
    color : #fff;
    border-radius: 5px;
    cursor : pointer;
}